<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin verification</title>
</head>
<body>
    <h2>Admin verification</h2>
    <form action="/admin/display" method="get">

        <div class="field">
            <label for="username">username</label>
            <input type="text" id="username" value="<%= locals.username || ''%>" name="username">
        </div>

        <div class="field">
            <label for="password">password</label>
            <input type="password" id="password" value="<%= locals.password || '' %>" name="password">
        </div>

        <div class="field">
            <button type="submit">Submit</button>
        </div>
    </form>
    <p><%= locals.error %></p>
</body>
</html>