*{
    margin: 0;
    padding: 0;
}
.form-box{
    width: 45vi;
    height: 100vh;
    /* background-image: url('/img/divBG.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

    background-color: #2a2e30;

}
.heading{
    color: #e0e0e0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.sub-heading{
    color: #e0e0e0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.form-box-elements{
    width: 90%;
    margin: auto;
    margin-top: 6vh;
}
label{
    color: #e0e0e0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#locality,#state,#city,#pincode,#landmark,#contact,#address,#GM-location{
    height: 4vh;
    width: 100%;
    margin-bottom: 1vh;
    background: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #e0e0e0 1px solid;
}
.together{
    width: 100%;
    /* border: 1px black solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.together-child1{
    /* border: red 1px solid; */
    width: 49%;
    
}
#floor,#Wing{
    height: 4vh;
    width: 100%;
    background: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #e0e0e0 1px solid;
}
button{
    background-color: #345c72;
    color: #e0e0e0;
    height: 4vh;
    width: 50%;
    margin-left: 10vi;
    /* border: 2px red solid; */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
button:active{
    color: white;
    background-color: black;
}
input{
    color: white;
    font-size: small;
    font-weight: 100;
}
.register{
    margin-top: 3vh;
}
/* #345c72 */
/* #e0e0e0 */